#rulers > div {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    color: white ;
}
#ruler_corner {
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
}
#ruler_x {
    height: 15px;
    top: 0px;
    left: 15px;
    right: 30px;
    border-bottom: 1px solid;
    border-left: 1px solid #777;
}
#ruler_y {
    width: 15px;
    top: 0px;
    left: 0px;
    bottom: 56px;
    border-right: 1px solid;
    border-top: 1px solid #777;
}
#ruler_x canvas:first-child {
    margin-left: -16px;
}
svg-editor.css:112
#ruler_x canvas {
    float: left;
}
