/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white !important ;
  padding: 2.5em 0 0 !important  ;
  font-size: 1.15em;
  overflow: hidden !important ;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 10px, rgba(0, 0, 0, 0.156863) 0px 2px 5px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: none  ;
}
.toolsBtn{
  position: absolute;
  right: 10px ;
}
.bm-menu-wrap{
  right: 10px !important ;
  height: 90% !important ;
}
