
.input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.input:focus {
  border: 1px solid #33C3F0 !important;
}

.table-input {
  border: 0 !important;
  border-radius: 0 !important;
}
.input-label {
  position: relative;
  display: inline-block;
  height:100px;
  width: calc(100% * (1/3) - 10px - 1px);
  margin:10px 0 0 2%;
  border: 1px solid;
  flex-grow: 1;
}

.input-label span{
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: left;
}
.input-label input{
  border: 0;
  background: transparent;
  font: 24px/normal sans-serif;
  text-align: center;
  padding: 30px 0 16px;
  width: 100%;
  height: 24px;
  position: relative;
}
.input-label input:focus {
    outline-width: 0;
}
.numeric-input {
  padding: 9px 5px 10px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #fff;
  font-size: .9em;
  font-family: inherit;
  border: none;
  border: 1px solid #E6EDF4;
  color: #7E899B;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.react-numeric-input{
  margin : 5px 5px 0;
  flex : 0 1 40px;
}
.input-range{
  margin : 15px 0px ;
}
.numericInput{
  width: 100% ;
  position: relative;
}
.input-range__label--min{
  display: none ;
}
..input-range__label--min{
  display: none ;
}
.numericInput .attribute {
  font: 11px/130% sans-serif;
      color: #ccc;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      text-align: left;
}
