.alignDetails {
  position: relative;
	display: flex ;
}
.alignInputs {
  position: relative;
	margin-top : 20px ;
}
.alignDetails > div {
	background: #adadad;
	border : 1px solid rgb(173, 173, 173);
	height: 27px;
	margin-right: 5px;
	cursor: pointer;
}
.alignInputs .attribute {
    font: 11px/130% sans-serif;
    color: rgb(51, 51, 51);
    display: block;
    position: absolute;
    top: -20px;
    left: 0px;
    text-align: left;
}
