ol {
  padding-left: 10px ;
}
.container {
    display: flex;
    flex-direction: row;
    margin: 0 ;
}
.tree-column {
    flex: 0 0 3em;
    margin: 5px 0px 0px 5px ;
    text-align: center ;
}
.detail-column {
    flex: 1 ;
    padding: 10px ;
}

.viewer-column {
    flex: 3 ;
    margin: 0px 10px ;
    position: relative;
}
.treeView {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: -webkit-min-content;
    min-height: 100%;
    padding-left: 5px;
    padding-right: 10px;
    position: relative;
}
.tree-item {
    list-style: none;
    cursor: default;
}
.menu {
    margin-bottom: 20px ;
}
